{
  "sudo": false,
  "language": "android",
  "jdk": "oraclejdk8",
  "android": {
    "components": [
      "tools",
      "platform-tools",
      "tools",
      "build-tools-25.0.2",
      "android-25",
      "extra-android-m2repository",
      "extra-android-support"
    ]
  },
#  "before_cache": [
#    "rm -f $HOME/.gradle/caches/modules-2/modules-2.lock"
#  ],
#  "cache": {
#    "directories": [
#      "$HOME/.m2",
#      "$HOME/.gradle",
#      "$HOME/.gradle/caches/",
#      "$HOME/.gradle/wrapper/"
#    ]
#  },
#  "before_script": [
#    "chmod +x gradlew"
#  ],
 "script":{
    " ./gradlew assembleRelease"
  },
  "before_deploy":{
    "mv app/build/outputs/apk/app-debug.apk app/build/outputs/apk/ColetCoffeeCashlessTrade_AS_Pro.apk"
    },
  "deploy":{
      "provider": "releases",
      "api_key":{
        "secure": "${GITHUB_TOKEN}",
        },
      "file": "app/build/outputs/apk/ColetCoffeeCashlessTrade_AS_Pro.apk",
      "skip_cleanup": "true",
      "on":{
        "repo": "bbwang8088/ColetCoffeeCashlessTrade_AS_Pro",
        "tags": "true",
        "all_branches": "true"
        }
  },
  "script": "./gradlew assembleDebug assembleRelease --stacktrace",
  "group": "stable",
  "dist": "precise",
  "os": "linux"
}