{
  "sudo": false,
  "language": "android",
  "jdk": "oraclejdk8",
  "android": {
    "components": [
      "tools",
      "platform-tools",
      "tools",
      "build-tools-25.0.3",
      "android-19",
      "extra-android-m2repository",
      "extra-android-support"
    ]
  },
  "before_cache": [
    "rm -f $HOME/.gradle/caches/modules-2/modules-2.lock"
  ],
  "cache": {
    "directories": [
      "$HOME/.m2",
      "$HOME/.gradle",
      "$HOME/.gradle/caches/",
      "$HOME/.gradle/wrapper/"
    ]
  },
  "before_script": [
    "chmod +x gradlew"
  ],
  "script": "./gradlew assembleDebug assembleRelease --stacktrace",
  "before_install": [
    "openssl aes-256-cbc -K $aes_256_cbc_encrypt_key -iv $aes_256_cbc_encrypt_iv -in secrets.tar.enc -out secrets.tar -d",
    "tar xvf secrets.tar"
  ],
  "group": "stable",
  "dist": "precise",
  "os": "linux"
}